<div class="basic-layout d-flex align-items-center justify-content-center m-0 bg-white overflow-hidden">
    <!---->
    <div class="fullscreen-video-wrap">
        <video ref="video" src="../assets/blue-collar-vid.mp4" muted class="absolute-center" autoplay="true"
            loop="true"></video>
        <div class="header-overlay"></div>
    </div>
    <div class="col-md-5">

        <!-- <form>
        <div class="search-box">
            <h1 class="text-white">Blue collar</h1>
          <div class="placeholder">
          </div>
          <input type="text">
        </div>
      </form> -->

        <div id="cover">
            <form method="get" action="">
                <div class="tb">
                    <div class="td"><input type="text" placeholder="Search" required></div>
                    <div class="td" id="s-cover">
                        <button type="submit">
                            <div id="s-circle"></div>
                            <span></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <!-- <div class="title">
        Also, build your healty lifestyle.

      </div> -->
    </div>
</div>