<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1> Welcome! </h1>
    </div>
<div class="container">
    <form>
        <div class="form-group">
            <h1 class="text-center text-primary">Search for Blue Collar Jobs</h1>
            <div class="input-group-prepend">
        <input type="text" class="form-control" placeholder="Search for Jobs" name="App">
            <span class="input-group-text">Search</span>
            </div>
        </div>
    </form>
    </div>
    <section class="portfolio-block website gradient">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-5 offset-lg-1 text">
                    <h3>Looking for English Tutor</h3>
                    <p>Requirements: Excellent English communication skills written and verbal, With ESL Experience preferred, Communications/Education graduate</p>
                    <button>Click for more details</button>
                </div>
            </div>
        </div>
    </section>

    <section class="portfolio-block website gradient">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-5 offset-lg-1 text">
                    <h3>Looking for Plumber</h3>
                    <p>Requirements: TESDA-accredited, Experienced plumber, Willing to work in Cebu City</p>
                    <button>Click for more details</button>
                </div>
            </div>
        </div>
    </section>

    <section class="portfolio-block website gradient">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-5 offset-lg-1 text">
                    <h3>Looking for Nanny</h3>
                    <p>Requirements: Knows how to clean, cook, and do laundry; Willing to work in Cebu City</p>
                    <button>Click for more details</button>
                </div>
            </div>
        </div>
    </section>
    <section class="portfolio-block website gradient">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-5 offset-lg-1 text">
                    <h3>Wanted: HVAC Technician</h3>
                    <p>Requirements: TESDA-accredited, Experienced HVAC technician, Willing to work in Cebu City</p>
                    <button>Click for more details</button>
                </div>
            </div>
        </div>
    </section>
    <section class="portfolio-block website gradient">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-5 offset-lg-1 text">
                    <h3>Hiring: Stay-in Maid/Nanny for Cebu City</h3>
                    <p>Requirements: Willing to work in Cebu City</p>
                    <button>Click for more details</button>
                </div>
            </div>
        </div>
    </section>

    <section class="portfolio-block website gradient">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-5 offset-lg-1 text">
                    <h3>Babysitter for my 1-year-old baby</h3>
                    <p>Requirements: Knows how to take care of babies, Can be trusted, Stay-in, Sat-Sunday Day-off, Willing to work in Sibonga</p>
                    <button>Click for more details</button>
                </div>
            </div>
        </div>
    </section>
    
    <router-outlet></router-outlet>