<div class = "container mt-100" >
        <div class = "row ">
              <div class = "col-md-2">
                  
              </div>
              <div class = "col-md-8">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>User Registration Form</mat-card-title>
                        </mat-card-header>
                        <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
                                <mat-form-field class="input-full-width">
                                                <input matInput placeholder="Email Address" formControlName="email">
                                </mat-form-field>
                                <mat-form-field class="input-full-width">
                                                <input matInput placeholder="First Name"  formControlName="firstName">
                                </mat-form-field>
                                <mat-form-field class="input-full-width">
                                                <input matInput placeholder="Last Name" formControlName="lastName">
                                </mat-form-field>
                                <mat-form-field class="input-full-width">
                                                <input matInput placeholder="Gender" formControlName="gender">
                                </mat-form-field>
                                <mat-form-field class="input-full-width">
                                                <input matInput placeholder="Phone Number" formControlName="phone">
                                </mat-form-field>
                                <mat-form-field class="input-full-width">
                                                <input matInput placeholder="Address" formControlName="address">
                                </mat-form-field>
                                <mat-form-field class="input-full-width">
                                                <input matInput placeholder="City" formControlName="city">
                                </mat-form-field>
                                <mat-form-field class="input-full-width">
                                                <input matInput placeholder="Zip Code" formControlName="zip">
                                </mat-form-field>
                                
                                        <button mat-button color="primary">Register</button>
                                
                        </form>
                    </mat-card>

                    <div *ngIf="post" class = "mt-20">
                            <mat-card> <h4>Thank you {{post.firstName}}! Your request has been submitted!</h4> </mat-card>
                                
                        </div>
                       
              </div>
              <div class = "col-md-2">

              </div>
        </div>
    </div>

